.udeCarousel{
    background-image: url(../img/cover.jpg);
    height: 500px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    h1{
        @include styleText($color-white-0,$fs-4,$fw-bold-1);
    }
    p{
        @include styleText($color-white-0,$fs-0 + 3,$fw-normal);
    }
    .udeCarousel__content{
        position: absolute;
        top: 30%;
        left: 10%;
        width: 34%;
        @include responsive('large'){
            width: 44%;
        }
        @include responsive('medium'){
            width: 54%;
        }
        @include responsive('small'){
            width: 74%;
        }
    }
}



