.comments__content{
    background-color: $color-gray-5;
    .comments__item{
        .avatar{
            height: 50px;
            width: 50px;
            border-radius: 50%;
        }
    }
}