.courses{
    .courses__content{
        .courses__intro{
            padding-top: 14%;
            background: $color-gray-5;
            height: 380px;
        }
        .courses__tabs{
            .nav{
                .nav-item{
                    @include styleText($color-black-0,$fs-1,$fw-normal);
                    .nav-link{
                        color: $color-black-0;
                        padding: 5px;
                        &:hover {
                            border-color: transparent;
                            color: $color-blue;
                        }
                        &:focus {
                            @include styleBorder($none,$color-blue);
                        }
                        &.active{
                            @include styleBorder($none,$color-black-0);
                            border-bottom: 6px solid #007791;
                        }
                    }
                }
            }
            .tab-content{
                position: relative;
                .card-title{
                    @include styleText($color-black-0,$fs-0,$fw-bold);
                }
                .card-text{
                    @include styleText($color-gray-4,$fs-1,$fw-normal);
                }
                .rating{
                    i{
                        @include styleText($color-yellow,$fs-1,$none); 
                    }
                    
                    span:first-child{
                        @include styleText($color-black-0,$fs-0,$fw-bold);
                    }
                    span:last-child{
                        @include styleText($color-gray-4,$fs-1,$fw-normal);
                    }
                }
                .price{
                    text-align: right;
                    .old-price{
                        @include styleText($color-gray-4,$fs-1,$fw-normal);
                        text-decoration: line-through;
                    }
                    .new-price{
                        @include styleText($color-black-0,$fs-2,$fw-bold);
                    }
                }
            }
        }
    }
}
.courses__content{
    .courses__intro{
        @include responsive('large'){
            display: none;
        }
    }
}