header{
    @include styleText($color-black-light,$fs-1,$fw-normal);
}
.header__left{
    display: flex;
    .navbar-brand{
        img{
            width: 110px;
        }
    }
    .header__categories{
        margin: 0 15px;
        align-self: center;
        .nav-link{
            @include styleText($color-black-light,$fs-1,$fw-normal);
        }
    }
    .header__form{
        // tăng kích thước cho các con của flex
        flex-grow:1;
    }
}
.header__right{
    .nav-link{
        @include styleText($color-black-light,$fs-1,$fw-normal);
    }
}

// resposive
.header__right{
    //pham vi nho hon 1200px
    @include responsive('extra-large'){
        .business,.teach{
            display: none;
        }
        .border-left{
            border-left: none!important;
        }
    }
     //pham vi nho hon 768px
     @include responsive('medium'){
        .ude-btnGroup{
            display: none;
        }
    }
}
.header__left{
      //pham vi nho hon 768px
      @include responsive('medium'){
          justify-content: center;
        .header__categories,.header__form{
            display: none;
        }
    }
}